/* Full-screen app container */
.app-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end; /* Aligns the chat components to the bottom */
  height: 100vh;
  position: relative;
  background-color: #131314; /* Change to desired background color */
}

/* Chat container styles */
.custom-chat-container {
  width: 100%; /* Full width */
  flex-grow: 1; /* Takes up all available space */
  padding: 1rem;
  overflow-y: auto; /* Makes the chat scrollable */
}

/* Message input area styles */
.custom-message-input-container {
  width: 100%; /* One third of the container width */
  margin: 0 auto; /* Center the message input container */
  background-color: #404040; /* Background color for message input */
  padding: 1rem;
}

/* Styles for the message list to show messages */
.custom-message-list {
  margin-bottom: 1rem; /* Space above the message input area */
}

/* Message component styles */
.message {
  background-color: #8878CA; 
  padding: 0.5rem 1rem;
  margin-bottom: 0.5rem;
  border-radius: 1rem;
  max-width: 80%;
}

/* Different background for user and Gemini messages */
.message-user {
  align-self: flex-end;
  background-color: #B96585; 
}

.message-gemini {
  align-self: flex-start;
  background-color: #8878CA; 
}
