/* Full-screen app container */
.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #131314;
  position: relative;
}

/* Chat container styles */
.custom-chat-container {
  flex-grow: 1;
  overflow-y: auto; /* Makes the chat scrollable */
  flex-grow: 1;
  position: relative; /* Changed from fixed to relative */
}

.message-input-container {
  background-color: transparent; /* Transparent background for blending with any background */
  display: flex; /* Uses flexbox for flexible layout */
  align-items: center; /* Centers items vertically within the container */
  position: fixed; /* Fixed position to keep it at the bottom */
  bottom: 0; /* Positions at the bottom of the viewport */
  left: 50%; /* Centers horizontally */
  transform: translateX(-50%); /* Corrects the center alignment */
  width: 65%; /* Adjust this value to increase or decrease the width of the input container */
  padding-bottom: 40px;
}

.input-field {
  flex-grow: 1; /* Takes up available space in the flex container */
  padding: 20px 40px; /* Increases padding, especially on the left and right sides */
  font-size: 1.3rem; /* Sets the size of the text */
  border-radius: 17px; /* Rounds the corners of the input field */
  background-color: #474747; /* Sets the background color of the input field */
  color: #FFFFFF; /* Sets the text color */
  line-height: 0.5; /* Adjusts the line height for vertical rhythm */
  min-height: 22px; /* Minimum height to start */
  max-height: 200px; /* Maximum height before scrolling */
  overflow: hidden; /* Hides the scrollbar until focused */
  outline: none; /* Removes the outline to clean up style */
  border: none; /* Removes the border */
  display: flex; /* Uses flexbox to center text vertically */
  align-items: center; /* Centers the text vertically */
  justify-content: flex-start; /* Aligns the text to the start horizontally */
  white-space: pre-wrap; /* Allows text wrapping and whitespace preservation */
  resize: none; /* Disables manual resizing */
  width: 70%; /* Ensures the textarea takes the full width of its container */
}

.input-field:focus {
  overflow-y: auto;
}

.input-field::placeholder {
  color: #aeaeae;
  opacity: 1; /* Ensure placeholder is always visible until focus */
}

.send-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0; /* Remove padding if you want the image size to control the button size */
}

.send-button img {
  width: 65px; 
  height: auto;
}

/* Styles for the message list to show messages */
.custom-message-list {
  flex-grow: 1;
  padding: 1rem 20rem; /* Adjusted padding */
  overflow-y: auto; /* scrollable message list */
  background-color: #131314; /* background color matches app container */
}

/* Individual message container */
.message {
  display: flex;
  border-radius: 10px;
  word-wrap: break-word; /* Ensures text wraps within the container */
  margin-bottom: 1rem; /* Vertical space between messages */
  max-width: 40%; /* Adjusted for narrower messages */
  min-width: 80%; /* Adjust minimum width as needed */
  align-items: center;
}

.message-user {
  background-color: #1f1f1f;
  margin-right: auto; /* Align to the right */
  color: white;
}

.message-gemini {
  background-color: #508be5;
  margin-left: auto; /* Align to the left */
}

.message-user, .message-gemini {
  padding-left: 30px; /* Increase left padding */
}

/* Styles for the TypingIndicator */
.typing-indicator {
  color: white;
  padding: 0.5rem;
  font-style: italic;
  text-align: center;
}