/* Starter Page Styles */
.starter-icon {
  display: flex;
  justify-content: center;
  width: 50px; 
  height: 50px; 
  border-radius: 50%; /* Circle shape */
  background-color: #282358; 
  margin: 0 auto 20px auto;
}  

.starter-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #1C202B;
}
  
.starter-content {
  margin-bottom: 20px;
  text-align: center;
  color: #e5d8fc;
}
  
.starter-icon img { /*add an image*/
  width: 100px; /* Adjust size as needed */
  height: auto;
  margin-bottom: 20px;
}
  
.starter-content h1 {
  font-size: 1.3rem;
  margin-bottom: 20px;
}
  
.starter-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}
  
.starter-button {
  background-color: #252b39;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
}
  
.starter-button .bold {
  font-weight: bold;
}

.starter-button:hover {
  background-color: #8f86dd;
}