/* TYPING INDICATOR */
.typing-indicator-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Aligns the content to the left */
  margin-top: 0px;
  margin-left: 12rem; /* Add left margin for proper spacing */
}

.loader-message-header {
  display: flex;
  align-items: center;
  margin-bottom: 30px; /* Space between header and loader */
}

.loader-message-text {
  display: block;
  color: #fff;
  padding: 1px 1px; /* Padding inside loader bubble */
  max-width: 80%; /* Maximum width of loader bubble */
  word-wrap: break-word; /* Wrap text in the bubble */
}

.loader-profile-icon {
  width: 30px; 
  height: 30px; 
  border-radius: 50%; /* Circle shape */
  margin-right: 16px; /* Space between icon and loader text */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #282358; /* Same as .message-gemini */
}

.loader {
  margin-left: 45px;
  border: 5px solid #EAF0F6;
  border-radius: 50%;
  border-top: 5px solid #6F6792;
  width: 5px;
  height: 5px;
  animation: spinner 4s linear infinite;
}

@keyframes spinner {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}