/* Typing indicator styles */
.popup-typing-indicator-container {
    display: flex;
    align-items: center;
    margin-top: 1rem; /* Adjust margin as needed */
    margin-left: 2rem; /* Adjust to align with messages */
  }
  
  .popup-loader-message-header {
    display: flex;
    align-items: center;
    margin-bottom: 2px;
  }
  
  .popup-loader-profile-icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #282358;
    margin-right: 10px;
  }
  
  .popup-loader-message-text {
    color: #ffffff;
  }
  
  /* Input container */
  .popup-input-container {
    display: flex;
    align-items: center;
    bottom: 140px;
    position: fixed;
    padding: 9px;
    background-color: #2b2e3b;
    border-radius: 0 0 10px 10px;
  }
  
  .popup-input-field {
    flex-grow: 1;
    padding: 10px;
    border-radius: 20px;
    background-color: #3a3f51;
    border: none;
    color: #ffffff;
    margin-right: 10px;
  }
  
  .popup-send-button {
    background-color: #B3ACFC;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
  }
  
  /* Adjustments for the message list inside the popup */
  .popup-custom-message-list {
    padding: 0rem;
  }
  
  /* Adjustments for typing indicator inside the popup */
  .popup-typing-indicator-container {
    margin-top: 5px;
    margin-left: 0;
  }
  
  .popup-loader {
    width: 20px;
    height: 20px;
  }